<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test">
	<test name="XYZ">
		<classes>
			<class name="AxisBank.TestCases.HomePage">
				<methods>
					<include name="homePageTest" />
				</methods>
			</class>
			<class name="AxisBank.TestCases.BankManagerLogin">
			</class>
			<class name="AxisBank.TestCases.CustomerLogin">
			</class>
		</classes>
	</test>
</suite>